.next-meetup-hint {
	position: relative;
	z-index: 1;
}

.next-meetup-hint h3, .next-meetup-hint h4 { margin: 1em 0 0; }

.next-meetup-hint p { line-height: 2; }

.next-meetup-hint p a { text-decoration: none; }

.next-meetup-hint p a[target="_blank"]:after {
	content: "\f504";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	font-size: .9em;
	margin-left: 4px;
	vertical-align: middle;
}

.next-meetup-hint p .dashicons {
	position: relative;
	top: 3px;
	z-index: 1;
}

.next-meetup-hint .notice-dismiss:before {
	display: inline-block;
	float: right;
}

.next-meetup-hint .button {
	margin-right: 1em;
}

.next-meetup-hint h2:before {
	content: "\f120";
	display: inline-block;
	font-family: dashicons, sans-serif;
	font-size: 32px;
	margin-right: .4em;
	vertical-align: middle;
}

body.settings_page_next-meetup-hint a.review-hint-button:after {
	color: #d4af37;
	content: "\f155 \f155 \f155 \f155 \f155";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	margin-left: 8px;
}

.next-meetup-hint .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 10000;
}
.next-meetup-hint .overlay:target {
	visibility: visible;
	opacity: 1;
}

.next-meetup-hint .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}

.next-meetup-hint .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.next-meetup-hint .popup .close:hover {
	color: red;
}
.next-meetup-hint .popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px){
	.next-meetup-hint .box {
		width: 70%;
	}
	.next-meetup-hint .popup {
		width: 70%;
	}
}
