.next-meetup-hint {
	position: relative;
	z-index: 1;
}

.next-meetup-hint h3, .next-meetup-hint h4 { margin: 1em 0 0; }

.next-meetup-hint p { line-height: 2; }

.next-meetup-hint p a.settings { text-decoration: none; }

.next-meetup-hint p .dashicons {
	position: relative;
	top: 3px;
	z-index: 1;
}

.next-meetup-hint .notice-dismiss:before {
	display: inline-block;
	float: right;
}

body.settings_page_next-meetup-hint a.review-hint-button:after {
	color: #d4af37;
	content: "\f155 \f155 \f155 \f155 \f155";
	display: inline-block;
	font-family: "dashicons", sans-serif;
	margin-left: 8px;
}
